CuponWebSite/UnitTestWebCuponSystemService/Service References/CuponWebServiceReference/CuponServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuponId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuponId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originalPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approved" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longtitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBussinessCupons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBussinessCuponsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBussinessCuponsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUnAprrovedCupons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUnAprrovedCuponsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUnAprrovedCuponsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuponId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCuponsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponsByNameAndDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponsByNameAndDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCuponsByNameAndDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponsByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longtitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="distance" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponsByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCuponsByLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponByPreference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ctegory" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponByPreferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCuponByPreferenceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuponId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adminId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApproveCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBussinessCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originalPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bussinessId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBussinessCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddBussinessCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponByBussiness">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bussinessId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCuponByBussinessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCuponByBussinessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSocialNetworkCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSocialNetworkCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSocialNetworkCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSocialNetworkCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSocialNetworkCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSocialNetworkCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuponId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseCuponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPurchasedCuponBySerialKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPurchasedCuponBySerialKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindPurchasedCuponBySerialKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CuponId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialkey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UseCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="purchasedCuponId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RateCuponResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CuponHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="basicUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CuponHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CuponHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BussinessCuponHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bussinessId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BussinessCuponHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BussinessCuponHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteCuponSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCupon" />
  </wsdl:message>
  <wsdl:message name="DeleteCuponSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCuponResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCuponSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCupon" />
  </wsdl:message>
  <wsdl:message name="UpdateCuponSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCuponResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBussinessCuponsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBussinessCupons" />
  </wsdl:message>
  <wsdl:message name="GetAllBussinessCuponsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBussinessCuponsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUnAprrovedCuponsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUnAprrovedCupons" />
  </wsdl:message>
  <wsdl:message name="GetAllUnAprrovedCuponsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUnAprrovedCuponsResponse" />
  </wsdl:message>
  <wsdl:message name="FindCuponsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindCuponsById" />
  </wsdl:message>
  <wsdl:message name="FindCuponsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindCuponsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindCuponsByNameAndDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:FindCuponsByNameAndDescription" />
  </wsdl:message>
  <wsdl:message name="FindCuponsByNameAndDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:FindCuponsByNameAndDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="FindCuponsByLocationSoapIn">
    <wsdl:part name="parameters" element="tns:FindCuponsByLocation" />
  </wsdl:message>
  <wsdl:message name="FindCuponsByLocationSoapOut">
    <wsdl:part name="parameters" element="tns:FindCuponsByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="FindCuponByPreferenceSoapIn">
    <wsdl:part name="parameters" element="tns:FindCuponByPreference" />
  </wsdl:message>
  <wsdl:message name="FindCuponByPreferenceSoapOut">
    <wsdl:part name="parameters" element="tns:FindCuponByPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveCuponSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveCupon" />
  </wsdl:message>
  <wsdl:message name="ApproveCuponSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveCuponResponse" />
  </wsdl:message>
  <wsdl:message name="AddBussinessCuponSoapIn">
    <wsdl:part name="parameters" element="tns:AddBussinessCupon" />
  </wsdl:message>
  <wsdl:message name="AddBussinessCuponSoapOut">
    <wsdl:part name="parameters" element="tns:AddBussinessCuponResponse" />
  </wsdl:message>
  <wsdl:message name="FindCuponByBussinessSoapIn">
    <wsdl:part name="parameters" element="tns:FindCuponByBussiness" />
  </wsdl:message>
  <wsdl:message name="FindCuponByBussinessSoapOut">
    <wsdl:part name="parameters" element="tns:FindCuponByBussinessResponse" />
  </wsdl:message>
  <wsdl:message name="AddSocialNetworkCuponSoapIn">
    <wsdl:part name="parameters" element="tns:AddSocialNetworkCupon" />
  </wsdl:message>
  <wsdl:message name="AddSocialNetworkCuponSoapOut">
    <wsdl:part name="parameters" element="tns:AddSocialNetworkCuponResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSocialNetworkCuponSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSocialNetworkCupon" />
  </wsdl:message>
  <wsdl:message name="CreateSocialNetworkCuponSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSocialNetworkCuponResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseCuponSoapIn">
    <wsdl:part name="parameters" element="tns:PurchaseCupon" />
  </wsdl:message>
  <wsdl:message name="PurchaseCuponSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseCuponResponse" />
  </wsdl:message>
  <wsdl:message name="FindPurchasedCuponBySerialKeySoapIn">
    <wsdl:part name="parameters" element="tns:FindPurchasedCuponBySerialKey" />
  </wsdl:message>
  <wsdl:message name="FindPurchasedCuponBySerialKeySoapOut">
    <wsdl:part name="parameters" element="tns:FindPurchasedCuponBySerialKeyResponse" />
  </wsdl:message>
  <wsdl:message name="UseCuponSoapIn">
    <wsdl:part name="parameters" element="tns:UseCupon" />
  </wsdl:message>
  <wsdl:message name="UseCuponSoapOut">
    <wsdl:part name="parameters" element="tns:UseCuponResponse" />
  </wsdl:message>
  <wsdl:message name="RateCuponSoapIn">
    <wsdl:part name="parameters" element="tns:RateCupon" />
  </wsdl:message>
  <wsdl:message name="RateCuponSoapOut">
    <wsdl:part name="parameters" element="tns:RateCuponResponse" />
  </wsdl:message>
  <wsdl:message name="CuponHistorySoapIn">
    <wsdl:part name="parameters" element="tns:CuponHistory" />
  </wsdl:message>
  <wsdl:message name="CuponHistorySoapOut">
    <wsdl:part name="parameters" element="tns:CuponHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="BussinessCuponHistorySoapIn">
    <wsdl:part name="parameters" element="tns:BussinessCuponHistory" />
  </wsdl:message>
  <wsdl:message name="BussinessCuponHistorySoapOut">
    <wsdl:part name="parameters" element="tns:BussinessCuponHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="CuponServicesSoap">
    <wsdl:operation name="DeleteCupon">
      <wsdl:input message="tns:DeleteCuponSoapIn" />
      <wsdl:output message="tns:DeleteCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCupon">
      <wsdl:input message="tns:UpdateCuponSoapIn" />
      <wsdl:output message="tns:UpdateCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBussinessCupons">
      <wsdl:input message="tns:GetAllBussinessCuponsSoapIn" />
      <wsdl:output message="tns:GetAllBussinessCuponsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUnAprrovedCupons">
      <wsdl:input message="tns:GetAllUnAprrovedCuponsSoapIn" />
      <wsdl:output message="tns:GetAllUnAprrovedCuponsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCuponsById">
      <wsdl:input message="tns:FindCuponsByIdSoapIn" />
      <wsdl:output message="tns:FindCuponsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCuponsByNameAndDescription">
      <wsdl:input message="tns:FindCuponsByNameAndDescriptionSoapIn" />
      <wsdl:output message="tns:FindCuponsByNameAndDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCuponsByLocation">
      <wsdl:input message="tns:FindCuponsByLocationSoapIn" />
      <wsdl:output message="tns:FindCuponsByLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCuponByPreference">
      <wsdl:input message="tns:FindCuponByPreferenceSoapIn" />
      <wsdl:output message="tns:FindCuponByPreferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveCupon">
      <wsdl:input message="tns:ApproveCuponSoapIn" />
      <wsdl:output message="tns:ApproveCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBussinessCupon">
      <wsdl:input message="tns:AddBussinessCuponSoapIn" />
      <wsdl:output message="tns:AddBussinessCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCuponByBussiness">
      <wsdl:input message="tns:FindCuponByBussinessSoapIn" />
      <wsdl:output message="tns:FindCuponByBussinessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSocialNetworkCupon">
      <wsdl:input message="tns:AddSocialNetworkCuponSoapIn" />
      <wsdl:output message="tns:AddSocialNetworkCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSocialNetworkCupon">
      <wsdl:input message="tns:CreateSocialNetworkCuponSoapIn" />
      <wsdl:output message="tns:CreateSocialNetworkCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseCupon">
      <wsdl:input message="tns:PurchaseCuponSoapIn" />
      <wsdl:output message="tns:PurchaseCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindPurchasedCuponBySerialKey">
      <wsdl:input message="tns:FindPurchasedCuponBySerialKeySoapIn" />
      <wsdl:output message="tns:FindPurchasedCuponBySerialKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UseCupon">
      <wsdl:input message="tns:UseCuponSoapIn" />
      <wsdl:output message="tns:UseCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RateCupon">
      <wsdl:input message="tns:RateCuponSoapIn" />
      <wsdl:output message="tns:RateCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CuponHistory">
      <wsdl:input message="tns:CuponHistorySoapIn" />
      <wsdl:output message="tns:CuponHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BussinessCuponHistory">
      <wsdl:input message="tns:BussinessCuponHistorySoapIn" />
      <wsdl:output message="tns:BussinessCuponHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuponServicesSoap" type="tns:CuponServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteCupon">
      <soap:operation soapAction="http://tempuri.org/DeleteCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCupon">
      <soap:operation soapAction="http://tempuri.org/UpdateCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBussinessCupons">
      <soap:operation soapAction="http://tempuri.org/GetAllBussinessCupons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUnAprrovedCupons">
      <soap:operation soapAction="http://tempuri.org/GetAllUnAprrovedCupons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponsById">
      <soap:operation soapAction="http://tempuri.org/FindCuponsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponsByNameAndDescription">
      <soap:operation soapAction="http://tempuri.org/FindCuponsByNameAndDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponsByLocation">
      <soap:operation soapAction="http://tempuri.org/FindCuponsByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponByPreference">
      <soap:operation soapAction="http://tempuri.org/FindCuponByPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveCupon">
      <soap:operation soapAction="http://tempuri.org/ApproveCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBussinessCupon">
      <soap:operation soapAction="http://tempuri.org/AddBussinessCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponByBussiness">
      <soap:operation soapAction="http://tempuri.org/FindCuponByBussiness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSocialNetworkCupon">
      <soap:operation soapAction="http://tempuri.org/AddSocialNetworkCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSocialNetworkCupon">
      <soap:operation soapAction="http://tempuri.org/CreateSocialNetworkCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseCupon">
      <soap:operation soapAction="http://tempuri.org/PurchaseCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPurchasedCuponBySerialKey">
      <soap:operation soapAction="http://tempuri.org/FindPurchasedCuponBySerialKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseCupon">
      <soap:operation soapAction="http://tempuri.org/UseCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateCupon">
      <soap:operation soapAction="http://tempuri.org/RateCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CuponHistory">
      <soap:operation soapAction="http://tempuri.org/CuponHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BussinessCuponHistory">
      <soap:operation soapAction="http://tempuri.org/BussinessCuponHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuponServicesSoap12" type="tns:CuponServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteCupon">
      <soap12:operation soapAction="http://tempuri.org/DeleteCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCupon">
      <soap12:operation soapAction="http://tempuri.org/UpdateCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBussinessCupons">
      <soap12:operation soapAction="http://tempuri.org/GetAllBussinessCupons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUnAprrovedCupons">
      <soap12:operation soapAction="http://tempuri.org/GetAllUnAprrovedCupons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponsById">
      <soap12:operation soapAction="http://tempuri.org/FindCuponsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponsByNameAndDescription">
      <soap12:operation soapAction="http://tempuri.org/FindCuponsByNameAndDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponsByLocation">
      <soap12:operation soapAction="http://tempuri.org/FindCuponsByLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponByPreference">
      <soap12:operation soapAction="http://tempuri.org/FindCuponByPreference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveCupon">
      <soap12:operation soapAction="http://tempuri.org/ApproveCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBussinessCupon">
      <soap12:operation soapAction="http://tempuri.org/AddBussinessCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCuponByBussiness">
      <soap12:operation soapAction="http://tempuri.org/FindCuponByBussiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSocialNetworkCupon">
      <soap12:operation soapAction="http://tempuri.org/AddSocialNetworkCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSocialNetworkCupon">
      <soap12:operation soapAction="http://tempuri.org/CreateSocialNetworkCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseCupon">
      <soap12:operation soapAction="http://tempuri.org/PurchaseCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPurchasedCuponBySerialKey">
      <soap12:operation soapAction="http://tempuri.org/FindPurchasedCuponBySerialKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseCupon">
      <soap12:operation soapAction="http://tempuri.org/UseCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateCupon">
      <soap12:operation soapAction="http://tempuri.org/RateCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CuponHistory">
      <soap12:operation soapAction="http://tempuri.org/CuponHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BussinessCuponHistory">
      <soap12:operation soapAction="http://tempuri.org/BussinessCuponHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuponServices">
    <wsdl:port name="CuponServicesSoap" binding="tns:CuponServicesSoap">
      <soap:address location="http://localhost:20353/Controller/CuponServices.asmx" />
    </wsdl:port>
    <wsdl:port name="CuponServicesSoap12" binding="tns:CuponServicesSoap12">
      <soap12:address location="http://localhost:20353/Controller/CuponServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>